[Unit]
Description=Unified DevContainer Service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a unified-devcontainer
ExecStop=/usr/bin/docker stop -t 10 unified-devcontainer
Restart=always

[Install]
WantedBy=multi-user.target
